<!DOCTYPE html>
<html lang="en ru uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Order</title>
</head>
<body>
<h1>New Order</h1>

<form th:method="POST" th:action="@{/orders}" th:object="${orders}">

    <label for="user.id">Select user: </label>
    <select th:field="*{user.id}" id="user.id">
        <option th:each="user : ${usersList}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('user.id')}" th:errors="*{user.id}">user id error</div>
    <br>
    <label for="booksList">Select books: </label>
    <!--<select th:field="*{booksList}" id="booksList" multiple>
        <option th:each="book : ${booksList}" th:value="${book.id}" th:text="${book.title}"></option>
    </select>-->
    <select th:field="*{booksList}" id="booksList" multiple>
        <option th:each="book : ${booksList}" th:value = "${book.id}" th:checked="book.isChecked" th:text="${book.title}"></option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('booksList')}" th:errors="*{booksList}">books List error</div>
    <br/>
    <label for="orderDate">Order Date:</label>
    <input type="date" id="orderDate" name="orderDate">
    <div style="color:red" th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}">order Date error</div>
    <br>
    <input type="submit" value="Create!">
</form>

</body>
</html>
